<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace指用户自定义的命名空间。 -->
<mapper namespace="com.mialab.OneToMany_demo.mapper.DeptMapper">

	<!-- 根据 dept_id 查询部门信息，返回resultMap -->
	<select id="selectDeptById" parameterType="String" resultMap="deptResultMap">
		SELECT * FROM dept WHERE dept_id = #{dept_id}
	</select>

	<!-- 映射 Dept 对象的 resultMap -->
	<resultMap type="com.mialab.OneToMany_demo.domain.Dept" id="deptResultMap">
		<id property="dept_id" column="dept_id" />
		<result property="dept_name" column="dept_name" />
		<result property="dept_manager" column="dept_manager" />
		<!-- 一对多关联映射:collection fetchType="lazy"表示延迟加载 -->
		<collection property="employees" javaType="ArrayList"
			column="dept_id" ofType="com.mialab.OneToMany_demo.domain.Employee"
			select="com.mialab.OneToMany_demo.mapper.EmployeeMapper.selectEmployeeByDeptId"
			fetchType="lazy">
			<id property="emp_no" column="emp_no" />
			<result property="emp_name" column="emp_name" />
			<result property="dept_id" column="dept_id" />
			<result property="emp_gender" column="emp_gender" />
			<result property="emp_email" column="emp_email" />
		</collection>
	</resultMap>

</mapper>