<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
    <p>好好学习，天天向上</p>

    <form th:action="@{/testConverter/testRequestBody}" method="post">
        用户名：<input type="text" name="username"><br/>
        密码：<input type="password" name="password"><br/>
        <input type="submit" value="测试@RequestBody">
    </form>

    <form th:action="@{/testConverter/testRequestEntity}" method="post">
        用户名：<input type="text" name="username"><br/>
        密码：<input type="password" name="password"><br/>
        <input type="submit" value="测试RequestEntity">
    </form>

    <div id="app">
        <a @click="testAxios" th:href="@{/testConverter/testAxios}">SpringMVC 操作 AJAX</a>
    </div>
    <script type="text/javascript" th:src="@{/static/js/vue.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/axios.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/httpmessageconverter.js}"></script>

</body>
</html>