<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="user" class="cn.osxm.ssmi.pojo.User" />
    <bean id="userServiceImpl" class="cn.osxm.ssmi.service.impl.UserServiceImpl">
        <constructor-arg ref="user"/>
    </bean>

    <bean id="helloDao" class="cn.osxm.ssmi.dao.HelloDao" />
    <bean id="helloService" class="cn.osxm.ssmi.service.HelloService">
        <!-- 构造器依赖注入 -->
        <constructor-arg name="name" value="Spring Ioc Container" />
        <!-- 属性依赖注入 -->
        <property name="helloDao" ref="helloDao"/>
    </bean>
</beans>