<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--bean就是java对象 , 由Spring创建和管理-->
    <bean id="hello" class="com.houle.pojo.Hello">
        <property name="name" value="Spring"/>
    </bean>

    <bean id="mysqlImpl" class="com.houle.dao.impl.UserDaoMySqlImpl"/>
    <bean id="oracleImpl" class="com.houle.dao.impl.UserDaoOracleImpl"/>

    <bean id="serviceImpl" class="com.houle.service.impl.UserServiceImpl">
        <!--注意: 这里的name并不是属性 , 而是set方法后面的那部分 , 首字母小写-->
        <!--引用另外一个bean , 不是用value 而是用 ref-->
        <property name="userDao" ref="oracleImpl"/>
    </bean>

    <bean id="user" class="com.houle.pojo.User">
        <property name="name" value="houle" />
    </bean>

</beans>