<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
  <a th:href="@{/viewController/testThymeleaftView}">测试 ThymeleaftView</a>
  <p></p>
  <a th:href="@{/viewController/testForward}">测试 InternalResourceView</a>
  <p></p>
  <a th:href="@{/viewController/testRedirect}">测试 RedirectView</a>
  <p></p>

  <a th:href="@{/restfulController/user}">查询所有用户信息</a><br/>
  <a th:href="@{/restfulController/user/1}">根据用户ID查询用户信息</a><br/>

  <form th:action="@{/restfulController/user}" method="post">
      用户名：<input type="text" name="username"><br/>
      密码：<input type="password" name="password"><br/>
      性别：<input type="radio" name="gender" value="male">男<input type="radio" name="gender" value="female">女<br/>
      年龄：<input type="number" name="age"><br/>
      邮箱：<input type="text" name="email"><br/>
      <input type="submit" value="添加用户">
  </form>

  <form th:action="@{/restfulController/user}" method="post">
      <input type="hidden" name="_method" value="put">
      用户名：<input type="text" name="username"><br/>
      密码：<input type="password" name="password"><br/>
      性别：<input type="radio" name="gender" value="male">男<input type="radio" name="gender" value="female">女<br/>
      年龄：<input type="number" name="age"><br/>
      邮箱：<input type="text" name="email"><br/>
      <input type="submit" value="修改用户">
  </form>
  <hr/>
  <!-- 这里的写法格式没有问题，但业务逻辑其实大有问题，下面再详细说 -->
  <form th:action="@{/restfulController/user}" method="post">
      <input type="hidden" name="_method" value="delete">
      用户名：<input type="text" name="username"><br/>
      密码：<input type="password" name="password"><br/>
      性别：<input type="radio" name="gender" value="male">男<input type="radio" name="gender" value="female">女<br/>
      年龄：<input type="number" name="age"><br/>
      邮箱：<input type="text" name="email"><br/>
      <input type="submit" value="删除用户">
  </form>
</body>
</html>